<%content_for :head do%>
<%=stylesheet_link_tag "revenda"%>
 <%=stylesheet_link_tag "custom_select"%>
<%=javascript_include_tag "customSelect.jquery.min.js"%>
<%= javascript_include_tag "fullBg.js"%>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
 <script type="text/javascript">

$(document).ready(function() {
		$(".custom_select select").customSelect();
		
		
        $("#new_resale").validate({
            rules:{
                "resale[name]":{
                    required: true,
                    minlength: 3
                },
                "resale[mail]": {
                    required: true,
                    email: true
                },
                "resale[cpf]": {
                    required: true
                },	
                "resale[rg]": {
                    required: true
                },							
               	"resale[address]": {
                    required: true
                },
                "resale[hood]": {
                    required: true
                },
                "resale[cep]": {
                    required: true
                },	
                "resale[city]": {
                    required: true
                },
                "resale[state]": {
                    required: true
                },	
                "resale[message]": {
                    required: true
                },
                "resale[region]": {
                    required: true
                },																	
               /* conf_senha:{
                    required: true,
                    equalTo: "#senha"
                },
				
                termos: "required"
				*/
            },
            messages:{
                "resale[name]":{
                    required: "",
                    minlength: ""
                },
                "resale[mail]": {
                    required: "",
                    email: ""
                },
                "resale[cpf]": {
                    required: ""
                },
                "resale[rg]": {
                    required: ""
                },									
                "resale[address]": {
                    required: ""
                },
                "resale[hood]": {
                    required: ""
                },	
                "resale[cep]": {
                    required: ""
                },
                "resale[city]": {
                    required: ""
                },
                "resale[state]": {
                    required: ""
                },																
                "resale[message]":{
                    required: "",
                },
                "resale[region]":{
                    required: "",
                },
                /*termos: "Para se cadastrar você deve aceitar os termos de uso."*/
            }

        });
		
		


    // Only do anything if the browser does not support placeholders
    if (!Modernizr.input.placeholder) {

        // Format all elements with the placeholder attribute and insert it as a value
        $('[placeholder]').each(function() {
            if ($(this).val() == '') {
                $(this).val($(this).attr('placeholder'));
                $(this).addClass('placeholder');
            }
            $(this).focus(function() {
                if ($(this).val() == $(this).attr('placeholder') && $(this).hasClass('placeholder')) {
                    $(this).val('');
                    $(this).removeClass('placeholder');
                }
            }).blur(function() {
                if($(this).val() == '') {
                    $(this).val($(this).attr('placeholder'));
                    $(this).addClass('placeholder');
                }
            });
        });

        // Clean up any placeholders if the form gets submitted
        $('[placeholder]').parents('form').submit(function() {
            $(this).find('[placeholder]').each(function() {
                if ($(this).val() == $(this).attr('placeholder') && $(this).hasClass('placeholder')) {
                    $(this).val('');
                }
            });
        });

        // Clean up any placeholders if the page is refreshed
        window.onbeforeunload = function() {
            $('[placeholder]').each(function() {
                if ($(this).val() == $(this).attr('placeholder') && $(this).hasClass('placeholder')) {
                    $(this).val('');
                }
            });
        };
    }
});

$(window).load(function() {
	$("#back_bg_img").fullBgZaba();
});




</script>
<style>
</style>
<% end %>
<div id="back_bg">
	<%= image_tag "bg_revenda.jpg",:id=>"back_bg_img"%>
</div>
<%= form_for @reseller,  :url => resellers_path do |f|%>
<div class="content">
   	<div class="content_box">
    	<span class="title_c_box">Revenda</span>
        <p class="text_c_box">
			Você quer se juntar à Vanessa? Preencha o formulário abaixo e seja uma de nossas revendedoras. 
			Ser uma revendedora VP é a maneira mais prazerosa de oferecer produtos com qualidade única, que certamente deixarão suas clientes muito satisfeitas.
			Entre em contato e saiba mais sobre as coleções e peças exclusivas. Esperamos por você!
        </p>
		<%image_tag("img_dtl_agrife.png", :width=>"49", :height=>"15")%>
    </div>
    <div class="clear"></div> 
    <div class="box_transp_field">
        <%=f.text_field :name, :placeholder => "Nome", :id => "nome", :class => "input_big"%><br />
        <%=f.text_field :mail, :placeholder => "E-mail", :id => "email", :class => "input_big"%>          
    </div>
 </div>
 <div class="footer">
    <%=image_tag("img_detail_form_rv.png", :width => "100%", :class => "img_dtail_form_rv")%>
    <div class="form_input">
        <%=f.text_field :cpf, :placeholder => "CPF", :id => "cpf", :class => "input_med"%>
        <%=f.text_field :rg, :placeholder => "RG", :id => "rg", :class => "input_med ipt_marg"%>
    </div>
    <%=image_tag("img_detail_form_rv.png", :width => "100%", :class => "img_dtail_form_rv")%>
    <div class="form_input">
        <%=f.text_field :address, :placeholder => "Endereço", :id => "endereco", :class => "input_med"%>
        <%=f.text_field :complement, :placeholder => "Complemento", :id => "complemento", :class => "input_med ipt_marg"%>
    </div>
    <div class="form_input">
        <%=f.text_field :hood, :placeholder => "Bairro", :id => "bairro", :class => "input_med"%>
        <%=f.text_field :cep, :placeholder => "CEP", :id => "cep", :class => "input_med ipt_marg"%> 
    </div>
    <div class="form_input">
        <%=f.text_field :city, :placeholder => "Cidade", :id => "cidade", :class => "input_med"%>
        <%=f.text_field :state, :placeholder => "Estado", :id => "estado", :class => "input_med ipt_marg"%> 
    </div>
    <%=image_tag("img_detail_form_rv.png", :width => "100%", :class => "img_dtail_form_rv")%> 
    <div class="form_input">
      <%=f.text_area :message, :placeholder => "Como nos conheceu?"%>
        <div class="custom_select ipt_marg">
          <%=f.select :region, options_for_select([['Pouso Alegre - MG'],['Bragança Pta. - SP'],['Atibaia - SP']]), {:include_blank => "Escolha"}%>                     
        </div>
    </div> 
    <div class="clear"></div> 
    <div class="enviar_field">
      <%=image_submit_tag("bt_enviar.jpg", :width => "186", :height => "72", :class => "bt_enviar_field")%>
    </div>
  <%end%>    
  
  <div class="clear"></div> 
