<html>
    <body>
      <h2>Novo Contato Revenda</h2>
      <p>Nome: <%=@reseller.name%></p>
      <p>E-mail: <%=@reseller.mail%></p>
      <p>CPF: <%=@reseller.cpf%></p>
      <p>RG: <%=@reseller.rg%></p>
      <p>Endereço: <%=@reseller.address%></p>
      <p>Complemento: <%=@reseller.complement%></p>
      <p>Bairro: <%=@reseller.hood%></p>
      <p>CEP: <%=@reseller.cep%></p>
      <p>Cidade: <%=@reseller.city%></p>
      <p>Estado: <%=@reseller.state%></p>
      <p>Menssagem: <%=@reseller.message%></p>
      <p>Região: <%=@reseller.region%></p>
    </body>
</html>
