<%content_for :head do%>
<%=stylesheet_link_tag "lancamentos"%>
 <%=stylesheet_link_tag "custom_select"%>
<%=javascript_include_tag "customSelect.jquery.min.js"%>
<%= javascript_include_tag "fullBg.js"%>
<script type="text/javascript">

$(window).load(function() {
	$("#back_bg_img").fullBgZaba();
	$(".container").addClass("show_box");
});

</script>
<% end %>
<div class="content">
   <div class="box_lancamentos">
        <div class="left_box">
            <div class="img_box">
				<%=image_tag("img_1.jpg",:width=>"287",:height=>"361")%>
				<div class="name_prod"><span>Nome do produto</span></div>
            </div>
            <div class="img_box align_img_box">
				<%=image_tag("img_3.jpg",:width=>"287",:height=>"277")%>
                <div class="name_prod"><span>Nome do produto</span></div>
            </div>
        </div>
        <div class="right_box">
            <div class="top_right">
                <div class="img_box">
                    <%=image_tag("img_2.jpg", :width=>"100%")%>
                    <div class="name_prod"><span>Nome do produto</span></div>
                </div>
            </div>
            <div class="bottom_right">
                <div class="left_br">
                    <div class="img_box">
                        <%=image_tag("img_4.jpg",:width=>"287",:height=>"277")%>
                        <div class="name_prod"><span>Nome do produto</span></div>
                    </div>
                    <div class="img_box">
						<%=image_tag("img_5.jpg",:width=>"287",:height=>"162")%>
                        <div class="name_prod"><span>Nome do produto</span></div>
                    </div>
                </div>	
                <div class="right_br">
                    <div class="img_box">
                        <%=image_tag("img_6.jpg", :width=>"100%")%>
                        <div class="name_prod"><span>Nome do produto</span></div>
                    </div>
                </div>	
            </div>
        </div>
   </div>
   <div class="clear"></div>
   <%=image_tag("img_line_lancamentos.png",:width=>"100%",:style=>"max-width:999px;margin-top:64px;margin-bottom:64px;")%>
   

</div>
<div class="footer show">

